/* Enter your Styles below! */



body {background-image: url("https://i.imgur.com/MsgB7Lu.png");
  background-repeat: no-repeat;
  background-color: #cccccc;
background-size: cover;}
h1 {  
		font-size: 36px;
		font-weight: bold;
		background-color: transparent;}

header {padding-left: 50px;
	padding-top: 50px;
background-color: transparent;}

nav {
	font-family: 'Concert One', cursive;
	font-size: 20px
	background-color: transparent;;
	}

a:link {color: rgb(130, 156, 199);
		text-decoration: none;}

a:visited {color: white;}

a:hover {text-decoration: underline overline #829CC7;}

main {
	display: grid;
	grid-template-columns: 40% 60%;
	grid-gap: 10px;
	padding-top: 50px;
	padding-bottom: 150px;
	margin: auto;
	width: 60%;
	background-color: transparent;
}


h1 {font-family: 'Concert One', cursive;}

nav ul { 
	display: flex;
	justify-content: center;
}
nav li { padding: 10px 20px; }


.h1-img {margin-left: -50px;}

.two {font-family: 'Work Sans', sans-serif;
	color: rgb(130, 156, 199);
	font-size: 16px;
	padding-top: 200px;
	padding-left: 10px;
	line-height: 1.5;
	background-color: transparent;

} 	

.three {
	color: rgb(130, 156, 199);
	font-family: helvetica neue;
	font-size: 16px;
	padding-top: 200px;
	padding-left: 10px;
	line-height: 1.5;
}



footer {color: rgb(130, 156, 199);
	font-family: helvetica neue;
	font-size: 14px;}


@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}