/* Enter your Styles below! */



body {background-image: url("");
	background-color: #CFE3E3;}
h1 { font-family: helvetica neue; 
		font-size: 36px;
		font-weight: bold;}

nav {
	font-family: 'Concert One', cursive;
	font-size: 20px;
	}

a:link {color: rgb(130, 156, 199);
		text-decoration: none;}

a:visited {color: white;}

a:hover {text-decoration: underline overline #829CC7;}

main {
	display: grid;
	grid-template-columns: 40% 60%;
	grid-gap: 10px;
	padding-top: 50px;
	padding-bottom: 150px;
	margin: auto;
	width: 60%;
}


h1 {font-family: 'Concert One', cursive;}

.h1-img {margin-left: -50px;}

.two {
	color: rgb(130, 156, 199);
	font-family: helvetica neue;
	font-size: 16px;
	padding-top: 200px;
	padding-left: 10px;
	line-height: 1.5;

} 	

.three {
	color: rgb(130, 156, 199);
	font-family: helvetica neue;
	font-size: 16px;
	padding-top: 200px;
	padding-left: 10px;
	line-height: 1.5;
}



footer {color: rgb(130, 156, 199);
	font-family: helvetica neue;
	font-size: 14px;}


@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}